[Unit]
Description=Bandwidthd Network Traffic Monitor
After=network.target

[Service]
Type=forking
PIDFile=/run/bandwidthd.pid
ExecStart=/usr/sbin/bandwidthd 

[Install]
WantedBy=multi-user.target
